{{ if .Site.Params.ajaxFormspree }}
<section class="contact" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h1>Let's Chat</h1>
      </div>
    </div>

    <form id="form-contact" action="https://formspree.io/{{ .Site.Params.email }}" method="POST">
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-6"><input type="text" name="name" placeholder="Name" required></div>
        <div class="col-xs-12 col-sm-6"><input type="email" name="email" placeholder="Email" required></div>
        <div class="col-xs-12"><input type="text" name="_subject" placeholder="Subject" required></div>
        <div class="col-xs-12"><textarea name="message" placeholder="Message" required></textarea></div>
        <input type="text" name="_gotcha" style="display:none">
        <input type="hidden" name="_next" value="{{ .Site.Params.baseURL }}/theconeyrunners/thanks">
        <div class="col-xs-12 contact-submit">
          <input id="form-submit" type="submit" value="Send">
          <span id="form-thankyou" style="visibility:hidden">Thanks for your email!</span>
        </div>
      </div>
    </form>

  </div>
</section>
{{ end }}
