<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <div class="row full center-xs middle-xs">
        <div class="col-xs-12">
            <h1>Page does not exist!</h1>
            <p>Sorry.</p>
        </div>
      </div>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
